* {
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: sansita -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display: inline-block;  
    
}
main{
    // background-image: url('./images/shopkin.jpg');
    background-color: 	#cd1076;
    height:100vh;
    font-size: 20px;
    font-weight: bold;
    color:#421558 ;
}

 #top {
    text-align: center;
    background-color:#9acd32 ;
    padding:5px;
 }

  .title {
    font-weight: 900;
    font-size: 3.5em;
  }
  
  .title .letter {
    display: inline-block;
    line-height: 1em;
  }

button {
    width:20vw;
    height:4vh;
    background-color:#ffd700;
    border-radius: 5px;
    color:#421558;
    font-weight: bold;
    font-size: 20px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px;
    width: 100vw;
}

.cards{
    width:95vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 20px;
    text-align: center;
    gap:5px;    
    // background-color: #f03a9c ;  

   .card {  
        border:#9acd32 4px solid;
        border-radius: 10px;    
        &:hover {
            cursor: pointer;
        }
    }
}

.start{
    
}

.show {
pointer-events: none;
}

.matched{
    &:hover{
        pointer-events: none;
    }
}

#pause{
    &:hover {
        cursor: pointer;
    }
}

#restart{
    &:hover {
        cursor: pointer;
    }
}

#congrats{
    display: none;
}

.finish{
    border: 2px #9acd32 solid;
    background-color: #ffd700;
    width:200px;
    height: 200px;
    display: unset;
}
@media only screen and (min-width:375px) {
    .cards .card {
        height: 100px;
        width: 100px;
} 
}
@media only screen and (min-width:550px) {
    .cards .card {
        height: 120px;
        width: 120px;
} 
}