* {
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main{
    //background-image: url('./images/shopkin.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

h1{
    text-align: center;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
}

.cards{
    width:95vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 5px;
    text-align: center;
    gap:1px;    
    // background-color: #f03a9c ;  

   .card {  
        width: 80px;
        height: 80px;  
        border:#9acd32 2px solid;
            
        &:hover {
            cursor: pointer;
        }
    }
}

// img{
//     object-fit: cover;
//     opacity:0.5;
// }
.start{
    
}

.show {
background-color:#ffd700;
}

.matched{
background-color:#421558;
    &:hover{
        pointer-events: none;
    }
}



#pause{
    &:hover {
        cursor: pointer;
    }
}

#restart{
    &:hover {
        cursor: pointer;
    }
}

#congrats{
    display: none;
}

.finish{
    border: 2px red solid;
    width:200px;
    height: 200px;
    display: unset;
}

@media only screen and (min-width:375px) {
    .cards .card {
        height: 100px;
        width: 100px;
} 
}
@media only screen and (min-width:550px) {
    .cards .card {
        height: 120px;
        width: 120px;
} 
}